
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Hello World</title>
        
        <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
        <script src="http://underscorejs.org/underscore-min.js"></script>
        <script src="http://backbonejs.org/backbone-min.js"></script>

        <script>
            $(document).ready(function() {
                var HelloView = Backbone.View.extend({
                    el: $('body'),
                    initialize: function() {
                        this.render();
                    },
                    render: function() {
                        $(this.el).append("<h1>Hello World</h1>")
                        $(this.el).append("<p>Hello World<p>");
                    }
                });
                var helloView = new HelloView();
            });


        </script>

    </head>

    <body></body>


</html>