
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Login</title>

<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://underscorejs.org/underscore-min.js"></script>
<script src="http://backbonejs.org/backbone-min.js"></script>

</head>

<body>
<form name="form1" method="post" action="/login/">{% csrf_token %}
  <label>Email: 
  <input type="text" name="email" id="email">
  </label>
  <br>
  <label>Senha:
  <input type="password" name="senha" id="senha">
  </label>
  <br>
  <label>
  <input type="submit" name="button" id="button" value="Enviar">
  </label>
</form>
</body>
</html>
